.SkillsForCareer{
    font-family: 'Risque', cursive;
}


.Python {
    width: 40%;
    height: 15%;
    margin: 2% auto;
    padding-top: 10px;
    background: linear-gradient(#ffa147, #ff8a19);
    border-radius: 20px;
}
.JavaScript {
    width: 70%;
    height: 15%;
    background: linear-gradient(#ffa2d6, #ea6eb3);
    margin: 2% auto;
    border-radius: 20px;
    padding-top: 10px;
}
  

.PHP {
    width: 50%;
    height: 15%;
    background: linear-gradient(#ffdc74, #ddd047);
    margin: 2% auto;
    border-radius: 20px;
    padding-top: 10px;
}

.SQL {
    width: 60%;
    height: 15%;
    margin: 2% auto;
    background: linear-gradient(#abdc65, #74c600);
    border-radius: 20px;
    padding-top: 15px;
}



.RubyOnRail {
    width: 80%;
    height: 15%;
    background: linear-gradient(#a8c9ff, #5b98ff);
    margin: 2% auto;
    border-radius: 20px;
    padding-top: 10px;
}
